{
  "ModelConfigurations": [
    {
      "Name": "default",
      "Provider": "Azure",
      "Uri": "https://YOUR_AZURE_ENDPOINT.cognitiveservices.azure.com/",
      "Model": "gpt-5-nano",
      "ApiKeyAlias": "default-key",
      "TimeoutSeconds": 60,
      "MaxOutputTokens": null
    },
    {
      "Name": "embeddings",
      "Provider": "Azure",
      "Uri": "https://YOUR_AZURE_ENDPOINT.cognitiveservices.azure.com/",
      "Model": "text-embedding-ada-002",
      "ApiKeyAlias": "default-key",
      "TimeoutSeconds": 60,
      "MaxOutputTokens": null
    }
  ],
  "ApiKeys": [
    {
      "Alias": "default-key",
      "Value": "YOUR_API_KEY"
    }
  ]
}
